rxvt.font:				-*-fixed-medium-*-*-*-15-*-*-*-*-*-*-*
rxvt.visualBell:		True
rxvt.background:		#2F2F2F
rxvt.foreground:		White
rxvt.color0:			Black
rxvt.color1:			#dca3a3
rxvt.color2:			#afd8af
rxvt.color3:			#f0dfaf
rxvt.color4:			#6ca0a3
rxvt.color5:			#dc8cc3
rxvt.color6:			#93e0e3
rxvt.color7:			#dcdccc
rxvt.saveLines:		65535

urxvt.font:			-*-fixed-medium-*-*-*-15-*-*-*-*-*-*-*
urxvt.visualBell:		True
urxvt.background:		#2F2F2F
urxvt.foreground:		White
urxvt.color0:			Black
urxvt.color1:			#dca3a3
urxvt.color2:			#afd8af
urxvt.color3:			#f0dfaf
urxvt.color4:			#6ca0a3
urxvt.color5:			#dc8cc3
urxvt.color6:			#93e0e3
urxvt.color7:			#dcdccc

mrxvt.font:			-*-fixed-medium-*-*-*-15-*-*-*-*-*-*-*
mrxvt.visualBell:		True
mrxvt.background:		#2F2F2F
mrxvt.cursorColor:		#aaaaaa
mrxvt.foreground:		White
mrxvt.color0:			Black
mrxvt.color1:			#dca3a3
mrxvt.color2:			#afd8af
mrxvt.color3:			#f0dfaf
mrxvt.color4:			#6ca0a3
mrxvt.color5:			#dc8cc3
mrxvt.color6:			#93e0e3
mrxvt.color7:			#dcdccc
mrxvt.saveLines:		65535
mrxvt.bottomTabbar:	False
mrxvt.tabBackground:	#2F2F2F
mrxvt.tabForeground:	#dcdccc
mrxvt.showMenu:		False
mrxvt.hideButtons:		True
mrxvt.highlightColor:	#506070
